html 
    head
        title='My questions - My answers'
    body
        div(class='topnav' style="background: green; height: 150")
            a(style="color: white; margin-left: 20px; font-size: 24px") Welcome to ask me anything
            a(class='button' href='http://localhost:3001/home' style="font-size:20px; color: white; margin-left: 550px; margin-right: 50px") Home
            a(class='button' href='http://localhost:3001/account' style="font-size:20px; color: white; margin-left: 50px; margin-right: 50px") Account
            a(class='button' href='http://localhost:3001/auth/logout' style="font-size:20px; color: white; margin-left: 400px; margin-right: 50px") Log out

       
        table(style="width: 100%; border='1'")
            tr 
                th(style="color: red") No
                th(style="color: red") Question title 
                th(style="color: red") Question text 
                th(style="color: red") Question date 
            for question, i in questions 
                tr 
                    th #{i+1}.
                    th #{question.title}
                    th #{question.text} 
                    th #{question.createdAt}
        
        table(style="width: 60%; border='1'")
            tr 
                th(style="color: red") No
                th(style="color: red") Answer text 
                th(style="color: red") Answer date 
            for answer, i in answers 
                tr 
                    th #{i+1}.
                    th #{answer.text} 
                    th #{answer.createdAt}